body {
  color: #414141;   /*dark gray - comments */
  background-color: #EEEEEE; /*light gray*/
  font-size: 18px; /*base font size*/
}

h1 {
  font-size: 2em; /* 2 vece' más grande, escalado */
}

h2 {
  font-size: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal /* better than em or strong in html */
}

ul {
  list-style-type:circle; /*ul -ol = modificar <li> */
}

ol {
  list-style-type: lower-roman;
}

a {
    text-decoration: none;
  }

p {
  text-align: left;
}
